@import '../variables';

// Messages form

.admin__messages__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__message__form-create {
            margin: 1.5rem auto;
            width: 20%;
        }
    }
}

// Messages show

.admin__messages__section-show{
    width: 80%;
    margin: 0 auto;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .message_details{

        width: 80%;
        .message_details_list{

            .details-name{
                font-weight: bold;
            }

            .details-content{
                color: $text-accent-2;
            }
        }
    }

    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}


// Review form

.admin__reviews__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    &.create{

        width: min(80%, 40rem);
        margin: 4rem auto;
        padding: 1.75rem 1.3rem;
        border: 1px solid $text-accent;
        border-radius: 0.3rem;
        @extend %P1-desk-description;
    }

    .review__headbar{
        width: min(80%, 30rem);
    }

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        #reviewBackdropColor{
            height: 2.2rem;
        }

        .btn__review__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// Review show

.admin__review__section-show{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .review_details{

        width: 80%;

        .review_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
            .details-content:has(img){
                display: block;
                width: min(50%, 15rem);
            }

            img{
                width: 100%;
                object-fit:contain;
            }

            .review__img-background{
                display: inline-block;
                padding: 1rem 3rem;
            }
        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}

// Blog form

.admin__blogs__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .blog__image{
            display: block;
            width: 85%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .btn__blog__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}


// Blog show

.admin__blog__section-show{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .blog_details{

        width: 80%;

        .blog_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
            .details-content:has(img){
                display: block;
                width: min(50%, 15rem);
            }

            img{
                width: 100%;
                object-fit:contain;
            }

        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}


// Brand form

.admin__brands__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .brand__image{
            display: block;
            width: 85%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .btn__brand__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}


// Brand show

.admin__brand__section-show{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .brand_details{

        width: 80%;

        .brand_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
            .details-content:has(img){
                display: block;
                width: min(50%, 15rem);
            }

            img{
                width: 100%;
                object-fit:contain;
            }

        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}

// Offers form

.admin__offers__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label, .offer_period{
            font-weight: bold;
        }


        .offer__image{
            display: block;
            width: 85%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .offer_discount {

            #offer__discount_size {

                width: max(8%, 7rem);
            }

        }


        .offer_period{
            #offer__period_from, #offer__period_to{
                width: max(10%, 13rem);
            }
        }

        .btn__offer__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}


// Offers show

.admin__offer__section-show{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .offer_details{

        width: 80%;

        .offer_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
            .details-content:has(img){
                display: block;
                width: min(50%, 15rem);
            }

            img{
                width: 100%;
                object-fit:contain;
            }

        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}

// Categories form

.admin__categories__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .category__image{
            display: block;
            width: 85%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .btn__category__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// Categories show

.admin__category__section-show{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .category_details{

        width: 80%;

        .category_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
            .details-content:has(img){
                display: block;
                width: min(50%, 15rem);
            }

            img{
                width: 100%;
                object-fit:contain;
            }
        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }


    .admin__subcategory__section-show{

        .subcategory_details {
            display: flex;
            flex-direction: column;
            padding: 0;
            list-style: decimal !important;

            li{
                list-style: decimal !important;
                display: inline-block;
                color: $text-accent-2 !important;
            }
        }
    }
}

// Subcategories form

.admin__subcategories__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__subcategory__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// Subategories show

.admin__subcategory__section-show{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    h2:nth-child(2){
        margin-top: 0rem !important;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .subcategory_details{

        width: 80%;

        .subcategory_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
        }
    }
    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }
}

// Skintype form

.admin__skintypes__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__skintype__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// Skintype show

.admin__skintype__section-show {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .skintype_details{

        width: 80%;

        .skintype_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
        }
    }

    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }

}

// Agerange form

.admin__ageranges__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__agerange__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// Agerange show

.admin__agerange__section-show {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .agerange_details{

        width: 80%;

        .agerange_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
        }
    }

    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }

}


// consumer form

.admin__consumers__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__consumer__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// consumer show

.admin__consumer__section-show {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .consumer_details{

        width: 80%;

        .consumer_details_list{


            .details-name{
                font-weight: bold;
            }


            .details-content{
                display: inline-block;
                color: $text-accent-2;
            }
        }
    }

    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }

}

// product form

.admin__products__section-create{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .product__create_categories-name{
        width: min(35%, 20rem);
        display: flex;
        flex-direction: column;

        a{
            display: inline-block;
        }
    }

    form{
        width: min(85%, 40rem);
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .product_top, .product_new {
            display: flex;
            align-items: center;

            input{
                margin-top: 0;
                margin-left: 2rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .product__images{

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;
            // margin: 0 auto;
            margin: 1rem 0;
            width: 100%;

            li{

                width: 30%;
                height: 8rem;

                label{
                    width: 100%;
                    height: 100%;

                    .product__image{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: block;
                        cursor: pointer;

                    }
                    .form-check-input{
                        display: none;
                    }

                    .form-check-input:checked ~ .product__image{
                        opacity: 0.5;
                    }
                }

                &:last-child{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p{
                        text-align: center;
                    }

                    .btn__product_img_remove{
                        width: min(60%, 10rem);
                    }
                }
            }
        }


        .btn__product__form-create{
            margin: 1.5rem auto;
            width: min(60%, 10rem);
        }
    }
}

// product show

.admin__product__section-show {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .btn-return{
        margin-right: 4rem;
    }

    .product_details{

        width: 80%;

        .product_details_list{

            li{
                margin-bottom: 1rem;
                .details-name{
                    font-weight: bold;
                    margin-bottom: 1rem;
                }


                .details-content{
                    display: inline-block;
                    color: $text-accent-2;
                }

                .product__images{
                    margin-top: 0.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1rem;
                    // margin: 0 auto;
                    margin: 1rem 0;
                    width: 100%;

                    li{
                        width: 30%;

                        .product__image{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: block;
                        }
                    }



                }
            }


        }
    }

    form{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .btn{
            display: inline-block;
            width: min(60%,10rem);
        }

    }

}
