@import '../variables';

@media screen and (min-width: 1024px){ }

@media screen and (max-width: 1023px) {

    .admin__callbacks__section, .admin__messages__section, .admin__reviews__section, .admin__blogs__section, .admin__brands__section, .admin__offers__section, .admin__categories__section, .admin__subcategories__section, .admin__skintypes__section, .admin__ageranges__section  {
        width: 100%;

        .table__callbacks {
            width: 90% !important;
        }

        .table__messages, .table__review, .table__blog, .table__brand, .table__offers, .table__categories, .table__subcategories, .table__skintypes, .table__ageranges{
            width: 95% !important;
        }
    }

}

@media screen and (max-width:  800px) {

    .admin__callbacks__section{

        .table__callbacks{
            form{
                span{
                    display: none;
                }

                .btn{
                    padding: 1rem 1.5rem;
                }

                .btn-danger{

                    background: url('../images/trash_icon.png') center/50% no-repeat, rgb(220, 53, 69);
                }
            }
        }
    }

    .admin__categories__section {
        .table__categories{
            tr{
                td:nth-child(4){

                    .btn{
                        padding: 1.3rem 1.5rem;

                        background: url('../images/open_icon.png') center/25% no-repeat, rgb(13, 202, 240);
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .admin__messages__section, .admin__reviews__section, .admin__blogs__section, .admin__brands__section, .admin__offers__section, .admin__categories__section, .admin__subcategories__section, .admin__skintypes__section, .admin__ageranges__section   {

        .table__messages, .table__review, .table__blog, .table__brand, .table__offers, .table__categories, .table__subcategories, .table__skintypes, .table__ageranges{



            form{
                span{
                    display: none;
                }

                .btn{
                    padding: 1.3rem 1.5rem;
                }
                .btn-primary{

                    background: url('../images/email_sending_icon.png') center/25% no-repeat, rgb(13, 110, 253);
                }

                .btn-secondary{

                    background: url('../images/show_icon.png') center/25% no-repeat, rgb(108, 117, 125);
                }

                .btn-warning{

                    background: url('../images/update_icon.png') center/25% no-repeat, rgb(255, 193, 7);
                }

                .btn-danger{

                    background: url('../images/trash_icon.png') center/25% no-repeat, rgb(220, 53, 69);
                }


            }
        }
    }
}

@media screen and (max-width:  768px) {
    .admin__callbacks__section {

        .table__callbacks{
            width: 95% !important;
        }
    }
}

@media screen and (max-width:  480px) {


}

@media screen and (max-width:  425px) {


}

@media screen and (max-width:  375px) {


}

@media screen and (max-width:  320px) {

}
