    // Admin panel

    .headbar__admin{
        border-bottom: 1px solid $line-color;
        padding: 0;
        width: 100%;
        .navbar__line_admin-panel{
            border: 0;
            .navbar__nav{
                margin: 0;
            }
        }

        .dropdown__menu-auth-admin-panel{
            left: -3.5rem;
        }
    }
