@import '../variables';

// Admin panel - callbacks sheet

.admin__callbacks__section, .admin__messages__section {

    padding: 2rem 0;

    .message__create{
        width: 30% !important;
    }

    .table__callbacks {

        width: 80% !important;
        margin: 2rem auto;
        margin-top: 1rem;

        .callbacks__names {
            color: #06229f;
        }

        tr{
            vertical-align: middle;
            width: 100%;

            button{
                padding: 0 0.6rem;
            }
        }


        .callbacks__date{
            color: #ff0000;
        }

        .no__callbacks {
            @extend %P1-desk-description;

            .no__messages_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }
    }
}

// Admin panel - messages sheet

.admin__messages__section{

    .table__messages{
        width: 90%;
        margin: 2rem auto;
        margin-top: 1rem;

        .message__subject{
            color: #06229f;
        }

        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;

            .btn{
                display:inline-block;
                padding: 0 0.6rem;
            }
        }

        .message__date{
            color: #ff0000;
        }

        .no__messages{
            @extend %P1-desk-description;

            .no__messages_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }
    }

}

// Admin panel - reviews sheet

.admin__reviews__section{
    padding: 2rem 0;

    .table__review{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{

            th{
                vertical-align: text-top;
            }

            td:nth-child(3){
                position: relative;
                width: 20% !important;
                overflow: hidden;
                .review__image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit:contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0 0.6rem;
            }
        }
        .no__reviews{
            @extend %P1-desk-description;
            .no__reviews_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }
    }
}

// Admin panel - blogs sheet

.admin__blogs__section{
    padding: 2rem 0;

    .message__create{
        width: 30% !important;
    }

    .table__blog{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td:nth-child(3){
                position: relative;
                width: 20% !important;
                overflow: hidden;

                .blog__image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit:contain;
                    width: 100%;
                    height: 100%;
                }
            }

            td:nth-child(4){
                width: 25% !important;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0 0.6rem;
            }
        }
        .no__blogs{
            @extend %P1-desk-description;
            .no__blogs_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}

// Admin panel - brands sheet

.admin__brands__section{
    padding: 2rem 0;

    .message__create{
        width: 30% !important;
    }

    .table__brand{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td:nth-child(3){
                position: relative;
                width: 20% !important;
                overflow: hidden;

                .brand__image{

                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            td:nth-child(4){
                width: 25% !important;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0 0.6rem;
            }
        }
        .no__brands{
            @extend %P1-desk-description;
            .no__brands_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}

// Admin panel - offers sheet

.admin__offers__section{
    padding: 2rem 0;

    .message__create{
        width: 30% !important;
    }

    .table__offers{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td:nth-child(3){
                position: relative;
                width: 20% !important;
                overflow: hidden;

                .offer__image{

                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            td:nth-child(4){
                width: 25% !important;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0 0.6rem;
            }
        }
        .no__offers{
            @extend %P1-desk-description;
            .no__offers_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}


// Admin panel - categories sheet

.admin__categories__section{
    padding: 2rem 0;

    .category__create{
        width: 30% !important;
    }

    .table__categories{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td{

                width: 20% !important;
            }

            td:nth-child(1){
                width: 10% !important;
            }

            td:nth-child(3){
                position: relative;
                width: 20% !important;
                overflow: hidden;

                .category__image{

                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            td:nth-child(4){
                vertical-align: middle;
                .btn{
                    width: 100%;
                    display:inline-block;
                    padding: 0.3rem 0.6rem;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0.3rem 0.6rem;
            }
        }

        .no__categories{
            @extend %P1-desk-description;
            .no__categories_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}

// Admin panel - subcategories sheet

.admin__subcategories__section{
    padding: 2rem 0;

    .btn-return{
        margin-right: 4rem;
    }

    .subcategory__create{
        width: 30% !important;
    }

    .table__subcategories{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td, th{

                width: 25% !important;
            }

            td:nth-child(1), th:nth-child(1){
                width: 10% !important;
            }

            td:nth-child(3), th:nth-child(3){
                width: 40% !important;
            }

            td:nth-child(4), th:nth-child(4){
                width: 35% !important;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0.3rem 0.6rem;
            }
        }

        .no__subcategories{
            @extend %P1-desk-description;
            .no__subcategories_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}

// Admin panel - skintype sheet

.admin__skintypes__section{
    padding: 2rem 0;

    .skintype__create{
        width: 30% !important;
    }

    .table__skintypes{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td{

                width: 20% !important;
            }

            td:nth-child(1){
                width: 10% !important;
            }

            td:nth-child(3){
                .btn{
                    width: 100%;
                    display:inline-block;
                    padding: 0.3rem 0.6rem;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0.3rem 0.6rem;
            }
        }

        .no__skintypes{
            @extend %P1-desk-description;
            .no__skintypes_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}

// Admin panel - age range sheet

.admin__ageranges__section{
    padding: 2rem 0;

    .agerange__create{
        width: 30% !important;
    }

    .table__ageranges{
        width: 95%;
        margin: 2rem auto;
        margin-top: 1rem;

        tr{
            width: 100%;
            th{
                vertical-align: text-top;
            }

            td{

                width: 20% !important;
            }

            td:nth-child(1){
                width: 10% !important;
            }

            td:nth-child(3){
                .btn{
                    width: 100%;
                    display:inline-block;
                    padding: 0.3rem 0.6rem;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.4rem;
            .btn{
                display:inline-block;
                padding: 0.3rem 0.6rem;
            }
        }

        .no__ageranges{
            @extend %P1-desk-description;
            .no__ageranges_projects{
                text-align: center;
                height: 5rem !important;
                color: #ff0000;
                vertical-align: middle;
            }
        }

    }


}


