@import '../variables';


@media screen and (min-width: 1024px){ }

@media screen and (max-width: 1023px) {

    // Messages/Blogs/Offers/Categories form, show

    .admin__messages__section-create, .admin__messages__section-show, .admin__blogs__section-create, .admin__blog__section-show, .admin__brands__section-create, .admin__brand__section-show, .admin__offers__section-create, .admin__offer__section-show, .admin__category__section-show, .admin__category__section-show, .admin__subcategories__section-create, .admin__subcategory__section-show, .admin__skintypes__section-create, .admin__skintype__section-show, .admin__ageranges__section-create, .admin__ageranges__section-show, .admin__consumers__section-create, .admin__consumers__section-show {
        width: 95%;
        line-height: 2rem !important;
    }

    // Review form
    .admin__reviews__section-create, .admin__review__section-show{
        width: min(95%, 40rem);
        line-height: 2rem !important;

    }

}

@media screen and (max-width:  768px) {
    // Messages/Blogs/Offers form, show

    .admin__messages__section-create, .admin__messages__section-show, .admin__blogs__section-create, .admin__blog__section-show, .admin__brands__section-create, .admin__brand__section-show, .admin__offers__section-create, .admin__offer__section-show, .admin__category__section-show, .admin__category__section-show, .admin__subcategories__section-create, .admin__subcategory__section-show, .admin__skintypes__section-create, .admin__skintype__section-show, .admin__ageranges__section-create, .admin__ageranges__section-show, .admin__consumers__section-create, .admin__consumers__section-show {
        width: 100%;

        .offer_details{

            width: 95%;
        }

    }

    // Review form
    .admin__reviews__section-create{

        form{
            width: 90%;
        }

    }
}

@media screen and (max-width:  425px) {

    // Review form
    .admin__reviews__section-create{
        width: min(99%, 40rem);

        form{
            width: 95%;
        }

    }

}

@media screen and (max-width:  375px) {


}

@media screen and (max-width:  320px) {

}
