@import '../variables';

    // Admin panel header

    .headbar__admin{
        border-bottom: 1px solid $line-color;
        padding: 0 2rem;
        width: 100%;

        .navbar__line_admin-panel{
            border: 0;
            width: 80%;
            padding: 0.5rem 0;
            .navbar__nav{
                margin: 0;
            }
        }

        .headbar__dropdown.admin{
            width: min(20%, 5.2rem);
            .dropdown__menu-auth-admin-panel{
                left: -4rem;
            }
        }

    }
