@import '../variables';

// Messages form

.admin__messages__section-create{
    width: 80%;
    margin: 0 auto;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    form{
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;

        label{
            font-weight: bold;
        }

        .btn__message__form-create{
            margin: 1.5rem auto;
            width: 20%;
        }
    }
}

// Messages show

.admin__messages__section-show{
    width: 80%;
    margin: 0 auto;
    @extend %P1-desk-description;

    h2{
        margin-top: 2rem;
    }

    .message_details{

        width: 80%;
        .message_details_list{

            .details-name{
                font-weight: bold;
            }

            .details-content{
                color: $text-accent-2;
            }
        }
    }
}
