@import '../variables';


@media screen and (min-width: 1024px){ }

@media screen and (max-width: 1023px) {

    // Messages form, show

    .admin__messages__section-create, .admin__messages__section-show{
        width: 95%;
    }

    // Review form
    .admin__reviews__section-create, .admin__review__section-show{
        width: min(95%, 40rem);

    }

}

@media screen and (max-width:  768px) {
    // Messages form, show

    .admin__messages__section-create, .admin__messages__section-show{
        width: 100%;

    }

    // Review form
    .admin__reviews__section-create{


        form{
            width: 90%;
        }

    }
}

@media screen and (max-width:  425px) {

    // Review form
    .admin__reviews__section-create{
        width: min(99%, 40rem);

        form{
            width: 95%;
        }

    }

}

@media screen and (max-width:  375px) {


}

@media screen and (max-width:  320px) {

}
