@import '../variables';

// Admin panel - callbacks sheet

.admin__callbacks__section {
    height: 80vh;

    .table__callbacks{

        width: 80% !important;
        margin: 2rem auto;

        .callbacks__names{
            color: #06229f;
        }

        tr{
            vertical-align: middle;
            width: 100%;

            th{
                width: 6%;
            }

            td{
                width: 25%;
            }

            td:last-child{
                width: 5%;

            }

            span, form {
                display: block;
            }

            button{
                padding: 0 0.6rem;
            }
        }

        .callbacks__date{
            color: #ff0000;
        }

            .no__callbacks{

                td{
                    @extend %P1-desk-description;
                    text-align: center;
                    height: 5rem !important;
                    color: #ff0000;
                    vertical-align: middle;
                }
            }
    }
}


