@import '../variables';

// about page

.about{

    .about_company{

        padding-bottom: 3rem;

        h1, h2 {
            color: $text-accent;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        h3{
            color: $text-accent-2;
            font-weight: bold;
            margin: 1.5rem 0;
        }

        ul{
            margin: 0.5rem 0;
            li{
                @extend %P2-desk-description;
                line-height: 1.5 !important;
                list-style: '* ';

                &::marker{
                    color: $text-accent;
                }

            }
        }

        p{
            margin: 0.5rem 0;
            word-spacing: 4px;
            line-height: 1.5;

        }

        .about__selected_text{
            font-weight: bold;
            margin-left: 2rem;
        }
    }
}
