@import '../variables';

// brands page

.brands{

    padding-bottom: 3rem;

    .brands__title{
        color: $text-accent;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .brands__elements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .no__brands{
            display:inline-block;
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            margin: 0 auto 3rem auto;
        }

        .brand{
            width: calc(33% + 3.5px);
            height: 20rem;
            padding: 0;
            border: 1px solid $text-accent;
            margin-right: -1px;
            margin-bottom: -1px;
            background-color: $body-bg;

                .brand_head{
                    width: 100%;
                    height: 10rem;


                    .image{
                        display: block;
                        width: 80%;
                        height: 100%;
                        object-fit:contain;
                        margin: 0 auto;
                    }
                }
                .brand_content{
                    padding: 1rem 2rem;

                    .brand_title{
                        color: $text-accent-2;
                    }

                    .brand_summary{
                        margin: 0;
                        font-size: 0.875rem;

                    }
                }

        }
    }
}

// full brand

.full_brand{

    padding-bottom: 3rem;

    .link__to_brands{
        display: block;
        font-family: $font-family-Mostly-Bright;
        font-size: 1rem;
        color: $text-accent;
        text-align: right;
        margin: 0.5rem auto;
    }

    .full_brand_top{
        width: 100%;
        margin-bottom: 1.5rem;
        border: 1px solid $text-accent;

        display: flex;
        align-items: flex-start;

        .full_brand_head{

            width: 30%;

            .image{
                display: block;
                padding: 1rem;
                width: 100%;
                height: 10rem;
                object-fit:contain;
            }
        }

        .full_brand_content{
            width: 70%;
            padding: 2rem;

            .brand_title{
                color: $text-accent-2;
            }

            .brand_summary{

                font-weight: bold;
            }

            .brand_description{

                a{
                    color: $text-accent;
                }
            }

        }
    }

    .full_brand_products{

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:flex-start;

        &.less-items{

            justify-content: flex-start;
            gap: 8%;
        }

        .bestseller__element{

            height: min(70vh, 27.5rem);

            &.element_1 {
                @extend %P2-desk-description;
                width: min(35%, 19.3rem);
                align-self: flex-end;
            }

            &.element_3{
                @extend %P2-desk-description;
                width: min(35%, 19.3rem);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end
            }

            &.element_2 {
                @extend %P2-desk-description;
                width: min(30%, 17.1rem);
                height: 100%;
            }

            .bestseller__elem_on_main-page{
                display: block;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap:2rem;
                padding: 0;
                width: 100%;
                height: 100%;

                .bestseller__elem_on_main-page_top{
                    width: 100%;
                    height: min(60vh, 19.3rem);
                    background-color: #fff;
                    position: relative;
                    border: 1.5px solid #fff;

                    @extend %icons-settings;
                    background-size: cover;

                    .product__image{
                        width: 80%;
                        height: 70%;
                        object-fit: cover;
                        aspect-ratio: 4/3;
                        display: block;
                        margin: auto;
                        position: absolute;
                        display: block;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .product__tag{
                        display: flex !important;
                        // height: 20%;
                        flex-direction: column;
                        position: absolute;
                        text-transform: uppercase;
                        transform: rotate(-90deg);
                        top: 0rem;
                        margin-top: 1.25rem;
                        margin-left: 1.25rem;
                        left: 0px;
                        z-index: 2;
                        text-shadow: 1px 1px 1px #fff,
                        -1px -1px 1px #fff,
                        1px -1px 1px #fff,
                        -1px 1px 1px #fff;
                    }

                    .product__evaluation{
                        position: absolute;
                        // top: 1rem;
                        // right: 1rem;
                        z-index: 2;
                        display: flex;

                        span{
                            display: inline-block;
                            @extend %P2-desk-description;
                        }

                        .star{

                            display: inline-block;
                            width: 1.25rem;
                            height: 1.25rem;
                            background-image: url('../images/star_icon_main-page.png');
                            background-size: contain;
                            @extend %icons-settings;
                            margin-right: 0.5rem;

                        }
                    }

                    .product-action{
                        display: none;
                        position: absolute;
                        width: 100%;
                        height: 2.3rem;
                        z-index: 3;

                        .send_to_bookmarks, .send_to_basket{
                            display: none;
                            width: 50%;
                            height: 100%;
                        }

                        .send_to_bookmarks{
                            background-image: url('../images/product_bookmark_heart.png');
                            @extend %icons-settings;

                            &.active{
                                background-image: url('../images/product_bookmark_heart-opted.png') !important;
                            }
                        }

                        .send_to_basket{
                            background-image: url('../images/product_bag_button.png');
                            @extend %icons-settings;


                            &.active{
                                background-image: url('../images/product_bag_button_hover.png');
                            }
                        }
                    }

                    .no_picture{
                        position: absolute;
                        display: block;
                        align-content: center;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }

                &.bestseller_2{
                    height: min(70vh, 33rem);

                    .bestseller__elem_on_main-page_top{
                        height: min(70vh, 25.5rem);
                    }
                }

                &.bestseller_3{
                    height: min(70vh, 27.5rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap:2rem;

                }



                .bestseller__elem_on_main-page__content{
                    width: 100%;

                    .price{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p{
                            margin: 0;
                        }

                        .total-price, .discount-price{

                            width: 30%;
                            span{
                                display: inline-block;
                            }
                        }

                        .discount-price{
                            color: $text-accent-2;
                        }

                        .text-line{
                            width: 40%;
                            border-top: 1.5px solid $text-accent;
                            padding-bottom: 0.5rem;
                        }
                    }

                }

            }

            .get__all__bestsellers{
                color: $text-accent;
                text-decoration: underline;
                text-align: center;
            }

        .no__bestsellers{
            display:inline-block;
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            margin: 0 auto 3rem auto;
        }
        }

        .no__goods{
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            text-align: center;
            margin: 1.5rem auto;
        }

    }
}
