@import '../variables';

@media screen and (min-width: 1024px){

    .catalog{

        width: min(90%, 1200px);
        margin: 0 auto;

        .catalog__elements{

            .catalog_category{


                &:hover{
                    border: none;
                    transform: scale(1.02);
                    box-shadow: 0 0 20px -5px;

                    .catalog_category_title{
                        color: $text-accent-2 !important;
                    }
                }

            }
        }

    }


    .full_category{

        width: min(90%, 1200px);

        .full_category-body{

            .category__subcategory{

                .category__filter{


                    .filter-category, .filter-brands, .price, .skintype, .age, .forwhom{

                        .category__title, .brand__title,  .price__title, .skintype__title, .age__title, .forwhom__title{
                            &:hover{

                                color: $text-accent-2;

                            }
                        }

                        .subcategory__names, .brands__names, .objects__types,.age__types, .skintypes_list , .price__option{

                            label{

                                &:hover{
                                    color: $text-accent;

                                }
                            }
                        }
                    }
                }

                .reset__btn{

                    &>a:hover{

                        background-color: $text-accent;
                        border: 1px solid $text-accent;
                        color: $body-bg;
                    }
                }

            }


        }

        .view-all__btn{

            &>a:hover{

                background-color: $text-accent;
                border: 1px solid $text-accent;
                color: $body-bg;
            }
        }

        .full_category-bottom{


            .bestsellers__elements{
                flex-wrap: wrap;

                .bestseller__element{

                    .bestseller__elem_on_main-page{
                        .bestseller__elem_on_main-page_top{
                            .product__evaluation{

                                right: 1rem;
                                top: 1rem;
                            }
                        }
                    }

                    .bestseller__elem_on_main-page:hover{

                        .bestseller__elem_on_main-page_top{

                            border: 1.5px solid $text-accent;



                            .product-action{
                                display: flex;
                                left: 0;
                                bottom: 0;
                                border-top: 1.5px solid $text-accent;


                                .send_to_bookmarks, .send_to_basket{
                                    display: block;
                                }

                                .send_to_bookmarks{
                                    border-right: 1.5px solid $text-accent;
                                }
                            }
                        }

                        .bestseller__elem_on_main-page__content{

                            .text{
                                color: $text-accent;
                            }

                            .price{

                                .total-price{

                                    color: $text-accent;
                                }

                            }


                        }

                    }
                }
                .get__all__bestsellers:hover{
                    color: $text-accent-2;
                }
            }

        }
    }

}

@media screen and (max-width: 1023px){



    .catalog{

        width: min(95%, 1200px);
        margin: 0 auto;

    }

    .full_category{

        width: min(95%, 1200px);

        .full_category-top{

            margin-bottom: 3rem;
        }

        .full_category-body{
            width: 100%;

            .category__subcategory{

                .reset__btn{

                    a{

                        background-color: $text-accent;
                        border: 1px solid $text-accent;
                        color: $body-bg !important;
                    }
                }

            }


        }

        .view-all__btn{

            a{

                background-color: $text-accent;
                border: 1px solid $text-accent;
                color: $body-bg !important;
            }
        }

        .full_category-bottom{
            width: 100%;

            .bestsellers__title{
                margin-bottom: 0;
            }


            .bestsellers__elements{
                gap: 0.9rem;

                height: min(70vh, 25rem);

                .bestseller__element{

                    width: 17.2rem !important;
                    height: 100%;

                    .bestseller__elem_on_main-page{

                        width: 17.2rem !important;

                        &.bestseller_2{
                            height: min(70vh, 25rem);

                        }

                        .bestseller__elem_on_main-page_top{
                            height: 17.2rem !important;
                            border: none;

                            .product__evaluation{

                                bottom: 1rem;
                                left: 1rem;
                            }

                            .product-action{
                                width: 4.5rem;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                top: 0;
                                right: 0;


                                .send_to_bookmarks, .send_to_basket{
                                    display: block;
                                    width: 100%;
                                    height: 20%;
                                }

                            }
                        }
                    }
                }
                .get__all__bestsellers{
                    display: none;
                }

            }

            .get__all__bestsellers-mobile{

                display: block;
                color: $text-accent;
                text-decoration: underline;
                text-align: end;
                margin-left: auto;
            }

            .get__all__bestsellers-mobile{
                margin-bottom: 2rem;
            }

        }
    }

}

@media screen and (max-width:  900px) {

    .full_category{

        .full_category-body{

            .category__subcategory{

                .reset__btn{

                    a{
                        padding: 1rem 1.5rem;
                    }
                }

            }
        }

        .full_category-bottom{
            width: min(95%, 1200px);
            .bestsellers__elements{
                overflow: hidden;
                overflow-x: auto;
                gap: 1.5rem;
                height: min(70vh, 24rem);

                &::-webkit-scrollbar{
                    width: 0;
                }

                .bestseller__element{

                    width: 16.25rem !important;
                    height: 100% !important;


                    .bestseller__elem_on_main-page{

                        width: 16.25rem !important;

                        &.bestseller_2{

                            height: 100%;
                        }

                        .bestseller__elem_on_main-page_top{
                            height: 16.25rem !important;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width:  768px) {



    .catalog{

        margin-top: 2.5rem;
    }

    .full_category{
        width: 100%;

        .full_category-top{

            display: none;
        }

        .full_category-top-mobile{
            display: block;
            width: min(90%, 1200px);
            margin: 2rem auto 0rem;

            .category__name{
                margin: 0;
            }

            .return_to_catalog-btn{
                display: block;
                width: min(90%, 1200px);
                margin: 0 auto;
                color: $text-accent;
                text-decoration: underline;
                text-align: right;
            }
        }

        .full_category-body{

            width: min(90%, 1200px);
            margin: 0 auto;
            // margin-top: 1.25rem;

            .category__subcategory{
                display: none;
            }

            .goods_top_new_all-result{
                border: none;
                width: 100%;

                .goods_top_new_all-quantity{
                    border: none;

                    span{
                        margin-left: 0;
                    }
                }
            }
        }

    }

    .filer__mobile{

        width: 100%;

        &.open{
        }

        #category__filter-mobile{
            display: flex;
            width: 100%;
            flex-direction: column;


            .category__filter-top{

                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 2rem;
                border-bottom: 1px solid $text-accent;
                span{
                    padding: 0.5rem 0;
                }
            }

            .filter__products-mobile{
                padding: 1rem 2rem;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                .filter-items-mobile{
                    width: max(50%, 20rem);


                    .title{
                        width: 90%;
                        background-color: $body-bg;
                        padding: 2rem 0 0 0;
                        font-family: $font-family-Manrope;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.25rem;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $text-maincolor;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        cursor: pointer;

                        span:first-child{
                            // font-size: 1.2rem;
                            font-weight: bold;
                        }

                        span:nth-child(2){
                            display: block;
                        }

                        span:last-child{
                            display: none;
                        }

                        &.open{
                            span:nth-child(2){
                                display: none;
                            }

                            span:last-child{
                                display: block;
                            }
                        }

                    }

                    .subcategory__names-mobile {
                        display: none;
                        margin-top: 1.25rem;
                        margin-bottom: 0;
                        padding-left: 0;
                        width: 90%;

                        input[type="checkbox"]{

                             display: none;

                            &:checked + :is(.subcategory__name, .brand__name , .skintype__name, .agerange__name, .consumer__name){

                                font-weight: bold;
                            }
                        }

                        label{
                            font-family: $font-family-Manrope;
                            font-size: 0.875rem;
                            font-weight: 400;
                            line-height: 1.25rem;
                            letter-spacing: 0em;
                            text-align: left;
                            color: $text-maincolor;
                            margin-bottom: 0.5rem;
                            cursor: pointer;
                        }

                        &.open{
                            display: block;
                        }

                        &.price{
                            .price__from__to_box-mobile{
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                span{
                                    display: block;
                                    margin: 0;
                                    margin-right: 0.3rem;
                                    font-size: 0.8rem;
                                }

                                .price_from-elem, .price_to-elem{

                                    input{
                                        font-size: 0.9rem;
                                        border: 1px solid #987B75;
                                        padding: 0.2rem 0.5rem;
                                        background-color: $body-bg;

                                        &:is(:focus){
                                            outline: none;

                                        }
                                    }

                                }

                                .price_from-elem{
                                    border-radius: 5px 0 0 5px !important;

                                    input{
                                        border-right: 0;

                                    }
                                }

                                .price_to-elem{
                                    border-radius: 0 5px 5px 0 !important;

                                }
                            }
                        }
                    }

                }
            }

            .btns-mobile{
                width: 100%;
                padding: 0rem 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2.5rem 0 1.25rem 0;
                gap: 1.25rem;

                .reset__btn-mobile, .apply__btn{

                    font-family: $font-family-Manrope;
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 1.25rem;
                    letter-spacing: 0em;
                    text-align: left;
                    text-transform: uppercase;
                    padding: 1rem 2.25rem;
                    border: 1px solid $text-accent;
                }

                .reset__btn-mobile{
                    color: $text-maincolor;

                }

                .apply__btn{
                    color: $body-bg;
                    background-color: $text-accent;
                }

            }

        }
    }

    #category__filter-top-mobile{

        position: fixed;
        bottom: 5px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);

        // display: block;
        width: 95%;
        margin: 0 auto;

        background-color:$text-accent;
        color: $list-bg;
        text-transform: uppercase;
        text-align: center !important;

        padding: 0.5rem 0;

        border: 0;
        border-radius: 10px;
    }
}

@media screen and (max-width:  600px) {
    .catalog{

        .catalog__elements{

            .catalog_category{
                width: 13rem;
                height: 13rem;

                .catalog_category_head{
                    height: 60%;
                }
            }
        }
    }
}

@media screen and (max-width:  480px) {


    .catalog{

        .catalog__elements{

            .catalog_category{
                width: 70%;
                height: 15rem;
            }
        }
    }


    // full offer

    // .full_offer{
    //     width: min(95%, 1200px);

    //     .full_offer_top{
    //         flex-direction: column;
    //         align-items: center;

    //         .full_offer_head{
    //             width: 100%;
    //             height: 30%;

    //             .image{

    //                 object-fit: contain;
    //             }

    //         }

    //         .full_offer_content{
    //             width: 100%;
    //         }
    //     }
    // }

}

@media screen and (max-width:  425px) {



}

@media screen and (max-width:  375px) {

    .catalog{

        .catalog__elements{

            .catalog_category{
                width: 80%;
            }
        }
    }

    .full_category{

        .filer__mobile{
            #category__filter-mobile{
                .category__filter-top, .filter__products-mobile, .btns-mobile{

                    padding: 0.825rem 1rem;
                }
            }
        }
    }

}

@media screen and (max-width:  320px) {

    .full_category{
        .filer__mobile{
            .btns-mobile{
                .reset__btn-mobile, .apply__btn{
                    padding: 0.85rem 1.25rem !important;
                }
            }
        }
    }

}
