@import '../variables';

@media screen and (min-width: 1024px){

    .categories__goods_top_new_all{

        width: min(90%, 1200px);


        .categories__goods_top_new_all-body{

            .categories__goods{
                a{
                    &:hover{

                        color: $text-accent !important;
                    }
                }
            }
        }

    }


}

@media screen and (max-width: 1023px){

    .categories__goods_top_new_all{

        width: min(95%, 1200px);

        .categories__goods_top_new_all-top{

            margin-bottom: 3rem;
        }

        .categories__goods_top_new_all-body{
            width: 100%;
        }
    }


}


@media screen and (max-width:  900px) {


}

@media screen and (max-width:  768px) {

    .categories__goods_top_new_all{

        margin-top: 2rem;

        .categories__goods_top_new_all-top_mobile{
            width: 100%;
            display: flex;
            flex-direction: column;

            .category__name{
                margin-bottom: 1rem !important;

            }

            .categories__goods_top_new_all_select-sort{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border-top: 1px solid $text-accent;
                border-bottom: 1px solid $text-accent;
                padding: 0.5rem 0;

                .categories__goods{
                    .headbar__dropdown{


                        .dropdown__menu{
                            left: 0 !important;
                            width: min-content;
                            li {
                                border-bottom: 1px solid $text-accent;

                                &:first-child{
                                    justify-content: flex-start;
                                }

                                a{
                                    width: max-content;
                                }
                            }
                            li:last-child {
                                border-top: 0;
                                border-bottom: 0;
                            }
                        }
                    }
                }

                .headbar__dropdown{

                    .dropdown__menu{
                        left: 0 !important;
                        width: min-content;
                        li {
                            border-bottom: 1px solid $text-accent;

                            &:first-child{
                                justify-content: flex-start;
                            }

                            a{
                                width: max-content;
                            }

                        }
                        li:last-child {
                            border-top: 0;
                            border-bottom: 0;
                        }
                    }
                }
            }

        }

        .categories__goods_top_new_all-top{
            display: none;
        }

        .categories__goods_top_new_all-body{
            width: min(90%, 1200px);
            margin: 0 auto;

            .categories__goods{
                display: none;
            }

            .goods_top_new_all-result{
                border: none;
                width: 100%;

                .goods_top_new_all-quantity{
                    border: none;

                    span{
                        margin-left: 0;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:  600px) {

}

@media screen and (max-width:  480px) {







}

@media screen and (max-width:  425px) {



}

@media screen and (max-width:  375px) {

    .categories__goods_top_new_all{

        margin-top: 2rem;

        .categories__goods_top_new_all-top_mobile{
            width: 100%;
            display: flex;
            flex-direction: column;

            .category__name{
                margin-bottom: 1rem !important;

            }

            .categories__goods_top_new_all_select-sort{

                .headbar__dropdown{
                    #dropdown_toggle_selection_goods_mobile{
                        span:first-child{

                            font-size: 0.875rem !important;
                            padding: 0;
                        }
                    }
                }

                .categories__goods{
                    .headbar__dropdown{

                        #dropdown_toggle_categories__goods_top_new_all-top_mobile{
                            span:first-child{

                                font-size: 0.875rem !important;
                                padding: 0;
                            }
                        }
                    }
                }


            }

        }
    }
}

@media screen and (max-width:  320px) {


}
