@import '../variables';

// conditions page

.conditions{

    .payment_delivery{

        padding-bottom: 3rem;

        h2 {
            color: $text-accent;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        h3{
            color: $text-accent-2;
            font-weight: bold;
            margin: 2rem 0;
        }

        ul{
            margin: 2rem 0;
            li{

                @extend %P2-desk-description;
                line-height: 1.5 !important;
                list-style: '* ';

                &::marker{
                    color: $text-accent;
                }

            }
        }

        p{

            margin: 2rem 0;
            word-spacing: 4px;
            line-height: 1.5;

        }

    }
}
