@import '../variables';

// first top picture

.main-picture{
    width: 100%;
    height: 38rem;
    background: url('./../../../public/storage/images/beautiful_woman_close_up_title_img.png') 50% 0%
    /cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    .main__page_title{
        width: min(45%, 33rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 0 3.125rem;

        .title{
            width: min(100%, 40rem);
        }

        .title-text{
            @extend %P1-desk-description;
        }

    }

    .main__page_title-button{
        display: inline-block;
        width: min(25%, 20rem);
        @extend %button-desk ;
        padding: 0.6rem 0 !important;
        text-align: center !important;
        color: $body-bg !important;
        font-weight: 400 !important;
        background-color: $text-accent;
        border: 1px solid $text-accent;
        margin-left: 3.125rem;
    }
}

// Offers

.offers__main_page{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4.375rem auto;

    .offers__title{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .offers__elements{
        width: 100%;

        display: grid;
        // grid-template-columns: repeat(40, 1fr);
        // grid-template-rows: repeat(20, 1fr);
        // grid-template-areas:
        // "blog_2 blog_2"
        // "blog_1 blog_2 blog_2"
        // "blog_3 blog_3"
        // "blog_3 blog_3 blog_2"
        // ;

        .get__full__offer-btn-arrow{
            display: inline-block;
            @extend %icons-settings;
            background-image: url('../images/button_arrow.png') !important;
            background-size:contain;
            padding: 0.5rem 1.2rem;
            vertical-align: middle;
            margin-left: 0.5rem;
        }

        .blog__elem_on_main-page.blog_1{

            grid-area: blog_1;
            grid-column-start: 1;
            grid-column-end: 10;
            grid-row-start: 4;
            grid-row-end: 10;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blog__elem_on_main-page_top{
                width: 100%;
                height: 50%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit:cover;

                }
            }

            .blog__elem_on_main-page__content{
                width: 100%;
                height: 50%;

                .text{
                    width: 100%;
                    height: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding: 0.8rem 0 0.4rem 0;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }

        }

        .blog__elem_on_main-page.blog_2{

            grid-area: blog_2;
            grid-column-start: 13;
            grid-column-end: 41;
            grid-row-start: 1;
            grid-row-end: 11;

            position: relative;

            .blog__elem_on_main-page_top{
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
            }

            .blog__elem_on_main-page__content{
                width: 100%;
                position: absolute;
                bottom: 5%;
                left: 0;

                .text{
                    width: 95%;
                    margin-left: auto;

                    .blog_title{
                        width: 40%;
                        @extend %P2-desk-description;
                        padding-bottom: 0.4rem;
                        margin: 0;
                    }

                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;

                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            align-self: flex-end;
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .blog__elem_on_main-page.blog_3{


            grid-area: blog_3;
            grid-column-start: 1;
            grid-column-end: 27;
            grid-row-start: 12;
            grid-row-end: 21;


            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            .blog__elem_on_main-page_top{
                width: 67%;
                height: 100%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .blog__elem_on_main-page__content{
                width: 30%;
                align-self: flex-start;
                padding-top: 3rem;

                .text{
                    width: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding: 0.8rem 0 0.4rem 0;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .blog__elem_on_main-page.blog_4{

            grid-area: blog_4;
            grid-column-start: 28;
            grid-column-end: 41;
            grid-row-start: 15;
            grid-row-end: 20;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: stretch;

            .blog__elem_on_main-page_top{
                width: 50%;
                height: 100%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .blog__elem_on_main-page__content{
                width: 47%;
                align-self: flex-end;

                .text{
                    width: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding-bottom: 0.4rem;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .no__offers{
            display:inline-block;
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            margin: 0 auto 3rem auto;
        }
    }

}

// Blogs

.blogs__main_page{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4.375rem auto;

    .blogs__title{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .get__all__blogs{
        align-self: flex-end;
        margin-bottom: 1.5rem;
        @extend %button-desk-2;
        @extend %links-a;
        color: $text-accent;
        text-decoration: underline !important;
    }

    .blogs__elements{
        width: 100%;

        display: grid;
        grid-template-columns: repeat(40, 1fr);
        grid-template-rows: repeat(20, 1fr);
        grid-template-areas:
        "blog_2 blog_2"
        "blog_1 blog_2 blog_2"
        "blog_3 blog_3"
        "blog_3 blog_3 blog_2"
        ;

        .get__full__blog-btn-arrow{
            display: inline-block;
            @extend %icons-settings;
            background-image: url('../images/button_arrow.png') !important;
            background-size:contain;
            padding: 0.5rem 1.2rem;
            vertical-align: middle;
            margin-left: 0.5rem;
        }

        .blog__elem_on_main-page.blog_1{

            grid-area: blog_1;
            grid-column-start: 1;
            grid-column-end: 10;
            grid-row-start: 4;
            grid-row-end: 10;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blog__elem_on_main-page_top{
                width: 100%;
                height: 50%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit:cover;

                }
            }

            .blog__elem_on_main-page__content{
                width: 100%;
                height: 50%;

                .text{
                    width: 100%;
                    height: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding: 0.8rem 0 0.4rem 0;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }

        }

        .blog__elem_on_main-page.blog_2{

            grid-area: blog_2;
            grid-column-start: 13;
            grid-column-end: 41;
            grid-row-start: 1;
            grid-row-end: 11;

            position: relative;

            .blog__elem_on_main-page_top{
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
            }

            .blog__elem_on_main-page__content{
                width: 100%;
                position: absolute;
                bottom: 5%;
                left: 0;

                .text{
                    width: 95%;
                    margin-left: auto;

                    .blog_title{
                        width: 40%;
                        @extend %P2-desk-description;
                        padding-bottom: 0.4rem;
                        margin: 0;
                    }

                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;

                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            align-self: flex-end;
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .blog__elem_on_main-page.blog_3{


            grid-area: blog_3;
            grid-column-start: 1;
            grid-column-end: 27;
            grid-row-start: 12;
            grid-row-end: 21;


            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            .blog__elem_on_main-page_top{
                width: 67%;
                height: 100%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .blog__elem_on_main-page__content{
                width: 30%;
                align-self: flex-start;
                padding-top: 3rem;

                .text{
                    width: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding: 0.8rem 0 0.4rem 0;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .blog__elem_on_main-page.blog_4{

            grid-area: blog_4;
            grid-column-start: 28;
            grid-column-end: 41;
            grid-row-start: 15;
            grid-row-end: 20;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: stretch;

            .blog__elem_on_main-page_top{
                width: 50%;
                height: 100%;

                .image{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .blog__elem_on_main-page__content{
                width: 47%;
                align-self: flex-end;

                .text{
                    width: 100%;

                    .blog_title{
                        @extend %P2-desk-description;
                        padding-bottom: 0.4rem;
                        margin: 0;
                    }

                    div{
                        .date{
                            display: block;
                            @extend %P3-desk-description;
                        }

                        .get__full__blog{
                            display: block;
                            padding-left: 0;
                            @extend  %button-desk-2;
                        }
                    }
                }

            }
        }

        .no__blogs{
            display:inline-block;
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            margin: 0 auto 3rem auto;
        }
    }

}

// Reviews

.reviews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    &.full-text{
        position: absolute;
        z-index: 3;
    }

    .reviews__title{
        text-transform: uppercase;
        margin-bottom: 4rem;
    }

    .get__all__reviews{
        align-self: flex-end;
        margin: 1.5rem 0 3.125rem 0;
        @extend %button-desk-2;
        @extend %links-a;
        color: $text-accent;
        text-decoration: underline !important;
    }


    .reviews__elements{
        width: 99%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1.5rem;


        .review{
            width: clamp(400px, 50%, 450px);
            height: 100%;
            border: 1px solid $text-accent;

            &:where(.review_3, .review_4){
                display: none;
            }

            .review_head{
                width: 100%;
                display: flex;
                align-items: center;

                .name{
                    display: inline-block;
                    text-align: center;
                    padding: 0.5rem 0;
                    width: 50%;
                    border-right: 1px solid $text-accent;
                }

                .evaluation{
                    width: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span{
                        @extend %P1-desk-description;
                    }

                    .star{

                        display: inline-block;
                        width: 1.6rem;
                        height: 1.6rem;
                        background-image: url('../images/star_icon_main-page.png');
                        background-size: contain;
                        @extend %icons-settings;
                        margin-right: 0.5rem;

                    }
                }
            }

            .review_content{
                width: 100%;
                @extend %P2-desk-description;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                border-top: 1px solid $text-accent;
                padding: 2rem;

                .image{

                    position: relative;
                    width: 5.65rem;
                    height: 5.65rem;
                    background-color:aqua;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }

                    .UC_letters{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                    }
                }

                .text{
                    width: 70%;

                    .content, .date{
                        display: block;
                    }

                    .content{
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    div{
                        display: flex;
                        justify-content: space-between;

                        .date{

                            @extend %P3-desk-description;
                            padding: 0.5rem;
                        }

                        .get__full__review{

                            @extend %P3-desk-description;
                            color: $text-accent !important;
                            text-align: right !important;
                        }

                    }

                }
            }
        }


        .no__reviews{
            display:inline-block;
            font-family: $font-family-Mostly-Bright;
            font-size: 1.75rem;
            margin: 0 auto 3rem auto;
        }
    }


}

// All reviews

.all_reviews{
    margin-bottom: 3rem !important;

    .all__reviews_top{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem 0;


        .reviews__title{
            margin-bottom: 0rem;
        }

        .all__reviews_btn-return{
            display: block;
            @extend %button-desk-2;
            @extend %links-a;
        }

    }

    .all__reviews__elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 80%;
        margin: 0 auto;

        .review{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3rem;
            width: 100%;
            border: 1px solid $text-accent;
            padding: 2rem;

            .review_creator{
                width: min(25%, 6rem);

                .name{
                    display: inline-block !important;
                    white-space: pre-wrap;
                    width: 100%;
                    @extend %P1-desk-description;
                    margin-bottom: 0.5rem;
                    color: $text-accent !important;
                }


                .image{

                    position: relative;
                    width: 5.65rem;
                    height: 5.65rem;
                    background-color:aqua;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }

                    .UC_letters{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                    }
                }

                .evaluation{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 0.5rem;

                    span{
                        @extend %P1-desk-description;
                        color: $text-accent !important;
                    }

                    .star{

                        display: inline-block;
                        width: 1.6rem;
                        height: 1.6rem;
                        background-image: url('../images/star_icon_main-page.png');
                        background-size: contain;
                        @extend %icons-settings;
                        margin-right: 0.5rem;
                        color: $text-accent !important;

                    }
                }
            }

            .review_content{
                width: 75%;
                .date{
                    display: block;
                    font-weight:bold;
                    margin-bottom: 0.5rem;
                    line-height: 2.5rem;
                }
            }
        }

    }
}
