// Bootstrap
// @import 'bootstrap/scss/bootstrap';

// Desktop

// Fonts
$font-family-Mostly-Bright: 'Mostly Bright Personal Use', sans-serif;
$font-family-Manrope: 'Manrope', sans-serif;

// Colors

$body-bg: #FAF8F6;
$list-bg: #ffffff;
$menu-mobile-bg: #F8F3F3;

$text-maincolor: #1F1C1B;
$line-color: #000000;
$text-accent: #987B75;
$text-accent-2: #530C0C;
$text-color-crumb: #2C2828;

$box-shadow: #ece0de;

// Desktop
@media screen and (min-width: 1024px){

    // Text styles

    %H1-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 6.25rem;
        font-weight: 400;
        line-height: 6.25rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-maincolor;


    }

    %H2-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 3.75rem;
        font-weight: 400;
        line-height: 3.75rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-maincolor;

    }

    %H3-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-accent;

    }

    %P1-desk-description {
        font-family: $font-family-Manrope;
        font-family: Manrope;
        font-size: 1.5625rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    %P2-desk-description {
        font-family: $font-family-Manrope;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    %P2-H-desk-description {
        font-family: $font-family-Manrope;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    %P3-desk-description {
        font-family: $font-family-Manrope;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    %button-desk {
        font-family: $font-family-Manrope;
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 1.875rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    %button-desk-2 {
        font-family: $font-family-Manrope;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;
    }

    // links

    %links-a{

            display: inline-block;
            text-decoration: none;
            padding: 0.5rem;
            color: $text-accent;
            cursor: pointer;
            border: 0;

    }
}

// Mobile
@media screen and (max-width: 1023px){

    // Text styles

    //styleName: H1 Mob;
    %H1-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 3.75rem;
        font-weight: 400;
        line-height: 3.75rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-maincolor;
    }

    //styleName: H2 Mob;
    %H2-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 2.75rem;
        font-weight: 400;
        line-height: 2.75rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: H3 Mob;
    %H3-desk-level-header {

        font-family: $font-family-Mostly-Bright;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: 0.03em;
        text-align: left;
        color: $text-accent;

    }

    //styleName: P1 mob;
    %P1-desk-description {
        font-family: $font-family-Manrope;
        font-family: Manrope;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: P2 Mob;
    %P2-desk-description {
        font-family: $font-family-Manrope;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: P2-H Mob;
    %P2-H-desk-description {
        font-family: $font-family-Manrope;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: P3 Mob;
    %P3-desk-description {
        font-family: $font-family-Manrope;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: BTN 1 Mob;
    %button-desk {
        font-family: $font-family-Manrope;
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 1.875rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    //styleName: BTN 2 Mob;
    %button-desk-2 {
        font-family: $font-family-Manrope;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: $text-maincolor;

    }

    // links

    %links-a{

        display: inline-block;
        text-decoration: none;
        padding: 0.5rem;
        color: $text-accent;
        border: 0;

    }

}


// Icons

%icons-settings {
    background-repeat: no-repeat;
    background-position: center;
}



// Typography
$font-family-MosttlyBright: 'Mostly Bright Personal Use', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;


// Change autocomplete

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    // -webkit-text-fill-color: #fff !important;
    -webkit-text-fill-font-size: 30px !important;

}

@mixin user-select($option) {
    -webkit-user-select: $option;
    -moz-user-select: $option;
    -ms-user-select: $option;
    user-select: $option;
}


// carousel

$carousel-control-color:             $list-bg;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           6px;
$carousel-indicator-height:          6px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $text-accent;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $list-bg;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

// $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='{$text-accent}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
// $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='{$text-accent}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

