// Variables
@import 'variables';

// components

@import 'layouts/header';
@import 'layouts/header_media';
@import 'layouts/footer';
@import 'layouts/footer_media';
@import 'authorization/auth';
@import 'authorization/auth_media';
@import 'components/basket';
@import 'components/basket_media';
@import 'components/components';
@import 'components/components_media';
@import 'components/elements';
@import 'components/elements_media';
@import 'components/pagination';
@import 'components/pagination_media';

@import 'pages/main_page';
@import 'pages/main_page_media';



@import 'person_data/bookmarks';
@import 'person_data/bookmarks_media';
@import 'person_data/order_history';
@import 'person_data/order_history_media';

@import 'admin_panel/admin_panel';
@import 'admin_panel/admin_panel_media';
@import 'admin_panel/admin_pages';
@import 'admin_panel/admin_pages_media';
@import 'admin_panel/admin_header';
@import 'admin_panel/admin_header_media';
@import 'admin_panel/admin_forms_show';
@import 'admin_panel/admin_forms_show_media';

// Fonts
@font-face {
    font-family: 'Mostly Bright Personal Use';
    src: url("../fonts/MostlyBrightPersonalUse-2OMxl.otf");
}

@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

// Bootstrap
@import 'bootstrap/scss/bootstrap';


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


html {
    background-color: $body-bg;
    overflow-y: scroll;
    overscroll-behavior: none;
}

body{

    width: 100vw;
    height: 100vh;
}


.container {
    max-width: 1200px;
    padding: 0;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    @extend %P2-desk-description;
    padding: 8px;
    color: $text-maincolor;
    cursor: pointer;
}

h1 {
    @extend %H1-desk-level-header;
}

h2 {
    @extend %H2-desk-level-header;
}

h3 {
    @extend %H3-desk-level-header;
}

p {
    @extend %P2-desk-description;
}

