@import '../variables';

@media screen and (min-width: 1024px){

//  Crumbs refferances
.crumbs__route{
    .crumbs__list{
        li{
            .crumbs__reffers{
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

// Anchor

.anchor_depict{

    &:hover{
        background: url('../images/anchor_up_arrow-hover.png') center/contain no-repeat;
        opacity: 1;
    }

}

// No Admin Heads-up

.noAdmin {
    .noAdmin__content{
        p {
            a {
                &:hover{
                    color: $text-accent;
                    text-decoration:  underline;
                }
            }
        }
    }
}
}

@media screen and (max-width: 1023px) {

//  Crumbs refferances

.crumbs__route{

    .crumbs__list{
        padding: 1.5rem 3rem;

        li{
            .crumbs__reffers{
                color: $text-accent !important;
                text-decoration:  underline;
            }
        }
    }
}

// No Admin Heads-up

.noAdmin {
    .noAdmin__content{
        p {
            a {
                color: $text-accent;
                text-decoration:  underline;
            }
        }
    }
}
}

@media screen and (max-width:  768px) {

    //  Crumbs refferances

    .crumbs__route{
        display: none;
    }

}

@media screen and (max-width:  480px) {

}

@media screen and (max-width:  375px) {

}

@media screen and (max-width:  320px) {

}
