@import '../variables';

#bookmarks{
    box-shadow: 0 0 0.5rem 0.4rem $box-shadow;
    margin: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.8rem;
    background-color: $list-bg;

    .bookmarks__title{
        border-bottom: 2px solid $text-accent;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .no_bookmarks{
        height: 40vh;

        .no_bookmarks-allusion{
            padding: 0;
            color: $text-accent;

        }
    }

}
