@import '../variables';

#bookmarks{
    box-shadow: 0 0 0.5rem 0.4rem $box-shadow;
    margin: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.8rem;
    background-color: $list-bg;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .bookmarks.navbar__cancel-icon{
        margin-left: auto;
    }


    .bookmarks__title{
        width: 100%;
        border-bottom: 2px solid $text-accent;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .bookmarks__select_sorting{
        width: 9rem;
        height: 2.5rem;
        margin-left: auto;
        position: relative;

        .sorting__option{
            width: 100%;
            height: 100%;
            display: block;
            @extend %P2-desk-description;
            color: $text-accent !important;
            padding-right: 0.2rem;

            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            cursor: pointer;
            background-color: transparent;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            outline: none;

            &:focus{
                box-shadow: none;
            }

        }


        .select-arrow{
            cursor: pointer;
            position: absolute;
            z-index: 0;
            top: 55%;
            right: 5%;
            transform: translateY(-50%);
            display: inline-block;
            background-image: url(../images/arrow_down_icon_hover.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 9px;
            height: 9px
        }
    }

    .bookmarks__products_list{

        width: 100%;
        padding: 0;

        .request__to_remove_bookmark{
            display: none;
        }

        .bookmark_product__element{
            width: 100%;

            .bookmark__element{
                width: 100%;
                height: 10rem;
                padding: 1rem 0.5rem;
                border-bottom: 1px solid $text-accent;

                display: flex;
                align-items: center;
                justify-content: center;
                gap:1rem;

                .product_top{
                    width: max(30%, 13rem);
                    // height: 10rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content:space-around;

                    .product__tag{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content:space-evenly;

                        span{
                            display: inline-block;
                        }
                        .product__evaluation{
                            display: flex;
                            align-items: center;
                            justify-content:space-between;

                            .star{
                                display: inline-block;
                                width: 1.25rem;
                                height: 1.25rem;
                                background-image: url('../images/star_icon_main-page.png');
                                background-size: contain;
                                @extend %icons-settings;
                                margin-right: 0.5rem;
                            }
                        }

                        .bookmarks__product_remove{
                            background-image: url('../images/product_bookmark_heart-opted.png');
                            @extend %icons-settings;
                            padding: 1rem;
                        }

                        .bookmarksProductRemove{
                            display: none;
                        }
                    }

                    .product__image{
                        display: block;
                        object-fit: contain;
                        aspect-ratio: 4/3;
                        width: 60%;
                        height: 100%;
                    }

                }

                .product__content{
                    width: max(50%, 22rem);
                    // height: 10rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content:flex-start;
                    gap: 0.5rem;

                    .content_text{
                        display: inline-block;
                        width: 100%;
                        // height: 20%;
                        text-decoration: underline;
                        color: $text-accent;
                        padding: 0;
                    }

                    .content_about{
                        height: 70%;
                        margin: 0;
                        overflow: hidden;
                        @include line-clamp(4);
                    }
                }

                .right__part_bookmark{
                    height: 10rem;
                    width: max(17%, 8.8rem);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 0.5rem;

                        p{

                            margin: 0;
                        }

                        .product_abcent{
                            vertical-align: middle;
                            margin: 0;
                        }
                    }

                    .product-action{

                        height: 100%;
                        display: grid;
                        place-content: center;

                        .send_to_basket{
                            padding: 1rem;
                            background-image: url('../images/product_bag_button.png');
                            @extend %icons-settings;
                        }
                    }
                }
            }
        }

        .bookmark_product__element.removing{

            position: relative;

            .request__to_remove_bookmark{

                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                position: absolute;
                z-index: 1;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);

                .dismiss_request, .remove_bookmark-btn{
                    display: block;
                    padding: 0;
                    @extend %P2-desk-description;
                    color: $text-accent-2 !important;
                }
            }

            .bookmark__element{
                opacity: 0.5;

                .product_top{

                    .product__tag{

                        display: none;

                    }

                }

                .price, .product-action{
                    display: none;
                }
            }
        }
    }

    .pagination {
        align-self: center;

        div:first-child{

            ul{
                .page-item.disabled{


                    .page-link{
                        background-color: transparent !important;
                    }
                }

                :is(li>a){

                    background-color: transparent !important;
                }
            }
        }

        .pagination__links{
            padding: 0 !important;

                .page-item.disabled{

                    .page-link{
                        background-color: transparent !important;
                    }
                }

                .page-item.active {

                    .page-link{
                        background-color: transparent !important;
                        color: $text-accent-2 !important;

                    }
                }

                .page-item {

                    .page-link{
                        background-color: transparent !important;
                        outline: none !important;
                        line-height: 24px !important;
                        height: 24px !important;
                        color: $text-accent !important;
                        border: none !important;
                        font-size: 1.5rem;
                        padding: 0 12px !important;

                    }
                }


        }
    }

    .no_bookmarks{
        height: 40vh;
        margin: auto;

        .no_bookmarks-allusion{
            padding: 0;
            color: $text-accent;

        }
    }

}
