@import '../variables';

@media screen and (min-width: 1024px){

    #bookmarks{

        .bookmarks__products_list{


            .bookmark__element{

                .product_top{

                    .product__tag{

                        .bookmarks__product_remove{
                            cursor: pointer;
                        }
                    }

                }

                .product__content{



                    .request__to_remove_bookmark{

                        .dismiss_request, .remove_bookmark-btn{

                            cursor: pointer;
                        }
                    }
                }

                .product-action{

                    .send_to_basket{
                        cursor: pointer;
                    }
                }
            }
        }

        .no_bookmarks{

            .no_bookmarks-allusion{

                &:hover{
                    color: $text-accent-2;
                    text-decoration:  underline;
                }
            }
        }
    }

}

@media screen and (max-width: 1023px) {

    #bookmarks{


        .no_bookmarks{

            .no_bookmarks-allusion{

                    color: $text-accent-2;
                    text-decoration:  underline;
            }
        }
    }

}

@media screen and (max-width:  768px) {

}

@media screen and (max-width:  480px) {

}

@media screen and (max-width:  375px) {

}
