// footer media
@import '../variables';

@media screen and (min-width: 1024px){

    .footer {
        width: min(90%, 1200px);

        .footer__navbar__line {
            .nav__nav-mobile{
                margin-bottom: 0;
            }
            a:hover {
                color: $text-accent;
                cursor: pointer;
            }
        }

        .footer__elements{

            .footer_contact-details{

                .contacts_data{

                    a:hover {
                        color: $text-accent;
                        cursor: pointer;
                    }
                }

                .contacts_social_media-rights{

                    .social-media{

                        a{
                            opacity: 0.7;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }

                }
            }

        }
    }

}

@media screen and (max-width: 1023px) {

    .desktop_footer{

        padding: 4rem 0px;

        .footer {
            width: min(95%, 1200px);

        }
    }

}

@media screen and (max-width:  880px) {

    .desktop_footer{

        .footer {
            justify-content: space-evenly !important;

            .footer__navbar__line{
                flex-direction: column;
                height: 0%;

                .headbar-brand.footer{
                    a{
                        display: inline;
                    }
                }
            }
        }
    }

}


@media screen and (max-width:  768px) {

    .desktop_footer{
        display: none;
    }

    .mobile_footer{

        display: block;
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:  480px) {

}

@media screen and (max-width:  375px) {

}

@media screen and (max-width:  320px) {

}
