@import '../variables';

@media (min-width: 2560px) {
    .searching__popup .container_wrap {
        height: 90%;
        width: min(100%, 1200px);
    }
}

@media screen and (min-width: 1024px){

    .headbar {
        width: min(90%, 1200px);
    }

    // Connecting number, require callback

    #headbar__call_request-bnt:hover {
        background-color: $text-accent;
        border: 1px solid $text-accent;
        color: $body-bg;
    }

    .headbar__call_phone:hover{
        color: $text-accent;
    }

    // Auth, Lang setting

    .headbar__dropdown {

        &.active{
            .dropdown__menu {
                display: block;

                .order-history:hover {
                    &::before{
                        background: url('../images/basket_history_icon-hover.png') center/contain no-repeat;
                    }
                }

                .basket:hover {
                    &::before{
                        background: url('../images/basket_icon-hover.png') center/contain no-repeat;
                    }
                }
                .account-setting:hover {

                    &::before{
                        background: url('../images/settings_icon-hover.png') center/contain no-repeat;
                        transform: rotate(60deg);
                    }
                }
            }

            .dropdown_toggle{
                color: $text-accent;
                cursor: pointer;

                .dropdown__arrow {
                    transform: rotate(180deg);
                    background-image: url(../images/arrow_down_icon_hover.png);
                }
            }

        }

        .dropdown_toggle{
            cursor: pointer;

            .dropdown__arrow {
                transition: transform 0.5s ease-out 0s;
            }

            &:hover {
                color: $text-accent;

                .dropdown__arrow{
                    background-image: url(../images/arrow_down_icon_hover.png);
                }
            }

        }

        .dropdown_item-reff:hover {
            color: $text-accent;
        }
    }

    // Login, cart

    .headbar__login-cart{
        padding-right: 1rem;

        a:hover {
            color: $text-accent;
        }
        .headbar__chosen_prod:hover {
            background-image: url(../images/heart_icon_hover.png);
        }

        .headbar__cart:hover {
            background-image: url(../images/cart_icon_hover.png);
        }
    }


    // Navigation

    .navbar__line{


        .navbar__nav {

            .nav_link {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: $text-accent;
                    transition: all 0.5s ease-out 0s;
                }
            }

            .nav_link:hover, .nav_link.active:hover {
                color: $text-accent;
                cursor: pointer;

                &::after {
                    width: 100%;
                }
            }
        }

    }
}

@media screen and (max-width: 1023px) {


    .headbar {
        width: min(95%, 1200px);

    }

    // Searching

    .headbar__search {
        max-width: 6rem;
        margin-left: 0.5rem;
        .headbar__search-input {
            width: 5rem;
        }
    }

    // Connecting number, require callback

    .headbar__call {
        gap: 0.1rem;

        #headbar__call_request-bnt{
            padding: 0.5rem 1rem !important;
            background-color: $text-accent;
            color: $list-bg;
        }
    }

    // Dropdown setting (lang, auth)

    .headbar__dropdown {

        .item-reff-lang{
            color: $text-accent;
            text-decoration:  underline;
        }

        &.active{
            .dropdown__menu {
                display: block;
            }

            .dropdown__arrow {
                transform: rotate(180deg);
                background-image: url(../images/arrow_down_icon_hover.png);
            }

        }

        .dropdown_toggle{

            .dropdown__arrow {
                transition: transform 0.5s ease-out 0s;
            }
        }

        .dropdown__menu {
            .item-reff-auth{
                color: $text-accent;
                text-decoration:  underline;
            }
        }
    }

    // Navigation

    .navbar__line {
        padding: 1rem 0;

        .navbar__nav {
            width: min(100%, 650px);
        }

    }

}

@media screen and (max-width:  768px) {


    header {

        &.header_fixed{
            width: 100vw;
            // position: static;
        }

            // .headbar-mobile{
            //     // position: sticky;
            //     top: 0;
            //     left: 0;
            //     // position: fixed;
            //     z-index: 10;

            // // position: sticky;
        // }

    }
    // header mobile

    .desktop_header{
        display: none;
    }

    .mobile_header{
        display: block;

        // Burger button
        .navbar__toggler {
            display: block;
        }

        .headbar__logo-search{

            .headbar-brand__logo{

                padding: 1.65rem 1rem;
            }
        }

        .headbar.headbar-mobile{
            // position: sticky;
            // position: sticky;
            // top: 0;
            // left: 0;
            // position: fixed;
            // z-index: 10;

            width: 100%;
            border-top: 1px solid $line-color;
            border-bottom: 1px solid $line-color;
            padding: 1.25rem 1.875rem;

            // Dropdown setting (lang, auth)

            .dropdown__menu-auth {
                left: 0 !important;
            }
        }

        // Navigation mobile

        .wrap__nav{
            display: none;
            background-color: $text-accent;
            opacity: 0;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            transition: all 1.2s ease 0s;
        }

        .nav__line-mobile,
        .nav__nav-mobile,
        .headbar__call.mobile,
        .headbar__dropdown.mobile {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .nav__line-mobile{
            overflow-y: scroll;
            margin-bottom: 10rem;
            // overflow-y: scroll;
            align-items: center;
            border: 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(300%);
            z-index: 300;
            height: 100vh;
            width: min(100%, 400px);
            background-color: $menu-mobile-bg;
            padding: 2.5rem 3rem 5rem 3rem;
            transition: all 1.2s ease 0s;

            .nav__cancel-icon.mobile{
                margin-left: auto;
                margin-bottom: 3rem;
                display: block;
                width: 2.875rem;
                height: 2.875rem;
            }

            .nav__nav-mobile{
                align-items: flex-start;
                gap: 0.5rem;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 3rem;
                width: 13rem;
                .nav_link {
                    &.active {
                        color: $text-accent-2;
                        font-weight: bold;
                    }
                }
            }
            .headbar__call.mobile{
                align-items: center;
                gap: 2rem;
                margin-bottom: 1.5rem;
                #headbar__call_request-bnt{
                    width: 12rem;
                    padding: 0.75rem 1.25rem !important;
                }
            }
            .headbar__dropdown.mobile{
                margin: 0 auto;
                margin-bottom: 4rem;
                .dropdown__menu-lang-mobile{
                    left: -60%;
                    right: 50%;
                }
            }
        }
    }
}

@media screen and (max-width:  480px) {

    .mobile_header{

        // Navigation mobile

        .nav__line-mobile{
            width: min(100%, 390px);
        }
    }
}

@media screen and (max-width:  430px) {
    .mobile_header{

        // Navigation mobile

        .nav__line-mobile{
            width: min(100%, 430px);
            padding: 2.5rem 2rem 3rem 2rem;
        }

    }
}

@media screen and (max-width:  375px) {
    // header mobile
    .mobile_header{

        .headbar.headbar-mobile{

            padding: 1.25rem 1rem;

        }

        // Navigation mobile

        .navbar__line-mobile{
            padding: 2.5rem 2rem 3rem 2rem;
        }
    }

}

@media screen and (max-width:  320px) {
    // header mobile
    .mobile_header{

        .headbar.headbar-mobile{

            padding: 1.25rem 0.5rem;
        }

        .headbar__search{
            .headbar__search-input {
                width: 4rem;
            }
        }
    }

}
